<div id='location'>
  緯度=>{{latitude}}
  <br> 経度=>{{longitude}}
  <br> 日の出=>{{sunRise}}
  <br> 日の入り=>{{sunSet}}
</div>
<ul>
  <li *ngFor="let edotime of edotimeAxis">
    <span>{{edotime.koku}}</span>
    <span>{{edotime.daytime}}</span>
    <span>{{edotime.axis}}</span>
    <span>{{edotime.angle}}</span>
    <span>{{edotime.eto}}</span>
    <span>{{edotime.presentTime}}</span>
  </li>
</ul>
<div id="pie_chart" [chartData]="pie_ChartData" 
                    [chartOptions] = "pie_ChartOptions" 
                    chartType="PieChart" GoogleChartDirective></div> 
